<a href="https://colab.research.google.com/github/AzadMehedi/ML-Algorithoms/blob/main/Adapting_Boosting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from sklearn.ensemble import AdaBoostClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix, accuracy_score

In [2]:
url = 'https://raw.githubusercontent.com/FazlyRabbiBD/Data-Science-Book/master/data-iris.csv'
df = pd.read_csv(url)
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [3]:
# feature and target variabe
features = ['sepal_length','sepal_width','petal_length','petal_width']
x = df[features]
y = df['species']

### in below:
- n_estimators: number of weakly learners
- learning_rate: The weight assigned to the weekly learner with a default value of 1

In [16]:
# train test split and model creation
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)
adaboost = AdaBoostClassifier(n_estimators=50, learning_rate=1)
model = adaboost.fit(x_train, y_train)

In [17]:
# prediction & check accuracy
predictions = adaboost.predict(x_test)
print('Classification Report: \n', classification_report(y_test, predictions))
print('Accuracy Score: \n', accuracy_score(y_test, predictions))
print('Confusion Matrix: \n', confusion_matrix(y_test, predictions))

Classification Report:
               precision    recall  f1-score   support

      setosa       1.00      1.00      1.00        16
  versicolor       0.89      0.94      0.91        17
   virginica       0.91      0.83      0.87        12

    accuracy                           0.93        45
   macro avg       0.93      0.92      0.93        45
weighted avg       0.93      0.93      0.93        45

Accuracy Score:
 0.9333333333333333
Confusion Matrix:
 [[16  0  0]
 [ 0 16  1]
 [ 0  2 10]]

### model accuracy is 93%