<a href="https://colab.research.google.com/github/AzadMehedi/ML-Algorithoms/blob/main/Loistic_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix, accuracy_score, roc_auc_score, roc_curve

In [5]:
url = 'https://raw.githubusercontent.com/FazlyRabbiBD/Data-Science-Book/master/data-heberman.csv'
df = pd.read_csv(url)
df.head()

   age  operation_year  axil_nodes  status
0   30              64           1       1
1   30              62           3       1
2   30              65           0       1
3   31              59           2       1
4   31              65           4       1

In [7]:
features = ['age', 'operation_year', 'axil_nodes']
x = df[features]
df['status'] = df['status'].map({1:0, 2:1})
y = df['status']

In [8]:
df.head()

   age  operation_year  axil_nodes  status
0   30              64           1       0
1   30              62           3       0
2   30              65           0       0
3   31              59           2       0
4   31              65           4       0

In [9]:
x_train, y_train, x_test, y_test = train_test_split(x, y, test_size=0.25, random_state=5)
logreg = LogisticRegression()
logreg.fit(x_train, y_train)

ValueError: ignored

In [15]:
x_train.ndim

2