<a href="https://colab.research.google.com/github/AzadMehedi/ML-Algorithoms/blob/main/Support_Vector_Machine_SVM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn import metrics
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [4]:
url = 'https://raw.githubusercontent.com/FazlyRabbiBD/Data-Science-Book/master/data-indian-liver-Patient.csv'
df = pd.read_csv(url)
df.head()

   Age  Gender    TB   DB  AAP  SGPT  SGOT   TP  ALB   AGR  Status
0   65  Female   0.7  0.1  187    16    18  6.8  3.3  0.90       1
1   62    Male  10.9  5.5  699    64   100  7.5  3.2  0.74       1
2   62    Male   7.3  4.1  490    60    68  7.0  3.3  0.89       1
3   58    Male   1.0  0.4  182    14    20  6.8  3.4  1.00       1
4   72    Male   3.9  2.0  195    27    59  7.3  2.4  0.40       1

In [5]:
# checking if there is null values
df.isna().values.any()

True

In [6]:
# identify null values
null_columns = df.columns[df.isna().any()]
print(df.isna().any(axis))

Index(['AGR'], dtype='object')

In [7]:
df.shape

(583, 11)