<a href="https://colab.research.google.com/github/AzadMehedi/ML-Algorithoms/blob/main/Support_Vector_Machine_SVM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn import metrics
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

import warnings
warnings.filterwarnings('ignore')

In [3]:
url = 'https://raw.githubusercontent.com/FazlyRabbiBD/Data-Science-Book/master/data-indian-liver-Patient.csv'
df = pd.read_csv(url)
df.head()

   Age  Gender    TB   DB  AAP  SGPT  SGOT   TP  ALB   AGR  Status
0   65  Female   0.7  0.1  187    16    18  6.8  3.3  0.90       1
1   62    Male  10.9  5.5  699    64   100  7.5  3.2  0.74       1
2   62    Male   7.3  4.1  490    60    68  7.0  3.3  0.89       1
3   58    Male   1.0  0.4  182    14    20  6.8  3.4  1.00       1
4   72    Male   3.9  2.0  195    27    59  7.3  2.4  0.40       1

In [4]:
# checking if there is null values
df.isna().values.any()

True

In [12]:
# identify null values
null_columns = df.columns[df.isna().any()]
print(df[df.isna().any(axis=1)][null_columns])

     AGR
209  NaN
241  NaN
253  NaN
312  NaN

In [16]:
# drop these missing value rows
df.dropna(how='any', axis=0, inplace=True)

In [17]:
df.isna().values.any()

False

In [18]:
# mapping on Gender column which is categorical
d = {'Female':1, 'Male':0}
df['Gender'] = df['Gender'].map(d)

In [19]:
df.head()

   Age  Gender    TB   DB  AAP  SGPT  SGOT   TP  ALB   AGR  Status
0   65       1   0.7  0.1  187    16    18  6.8  3.3  0.90       1
1   62       0  10.9  5.5  699    64   100  7.5  3.2  0.74       1
2   62       0   7.3  4.1  490    60    68  7.0  3.3  0.89       1
3   58       0   1.0  0.4  182    14    20  6.8  3.4  1.00       1
4   72       0   3.9  2.0  195    27    59  7.3  2.4  0.40       1

In [20]:
# feature variable and targer variable
X = df[['Age', 'Gender', 'TB', 'DB', 'AAP', 'SGPT', 'SGOT', 'TP', 'ALB', 'AGR']]
y = df['Status']

In [25]:
# train test split and model creating
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=4)
clf = svm.SVC(kernel='rbf')
clf.fit(X_train, y_train)

SVC()

In [30]:
# accuracy check
predictions = clf.predict(X_test)
print('Classification Report: \n', classification_report(y_test, predictions))
print('\n Accuracy: ', '{0:0.4f}'.format(accuracy_score(y_test, predictions)),'%')
print('\n Confusion_matrix: ', confusion_matrix(y_test, predictions))

Classification Report:
               precision    recall  f1-score   support

           1       0.71      1.00      0.83       124
           2       0.00      0.00      0.00        50

    accuracy                           0.71       174
   macro avg       0.36      0.50      0.42       174
weighted avg       0.51      0.71      0.59       174


 Accuracy:  0.7126 %

 Confusion_matrix:  [[124   0]
 [ 50   0]]

## model accuracy is 71%